:root {
    --primary-font: 'Roboto', sans-serif;

}


* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
/* html {
    font-size: 62.5%;
} */
a {
    text-decoration: none
}


body {
    font-family: var(--primary-font);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    min-width: 320px;
    max-width: 900px;
    height: 70px;
    margin: 0 auto;
}
header a {
    color: white;
    font-size: 12px;
    border: white 1px solid;
    padding: 14px 19px 14px 19px ;
}

main {
    
}


.h1 {
    position: relative;
    margin-top: 29px ;
    margin-bottom: 26px;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.carousel {
    
}



footer {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 12px;
    margin-bottom: 29px;
}

